





/*Genaral*/

html,
body {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: hsl(220, 30%, 80%);
	font-family: Sans-Serif;
}

main {
	flex: 1 0 auto;
}

footer {
	color: #222;
	background: hsl(100, 50%, 45%);
	position: relative;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

/* Genaral */








/* Header */
.headline {
	padding-top: 2.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	font-size: 1.5em;
	font-weight: 500;
	letter-spacing: 0.2em;
	background-color: hsl(261, 100%, 77%);
	color: #eeeeee;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

/* Header */



/* Main */
.text-icons {
	height: 1em;
	width: 1em;
	color: #030;
}

/* wird genutzt um z.B. die pfeile den content blasen zu formatieren */

main p {
	padding-left: 1.5em;
	padding-right: 1.5em;
	color: #030;
}

.link {
	text-decoration: none;
	color: #030;
}

/*style eines internen links*/

.ext-link {
	text-decoration: none;
	color: #050;
}

/*style eines externen links*/

.ext-link-logo {
	margin-left: -.25em;
	margin-right: -.25em;
}

/*vorschau/logo bild der zu betretenen externen seite*/

img[src*="images/logo_s/wikipedia_logo_v3.svg"] {
	margin-bottom: -.1em;
	height: 1em;
}

/*verschiebt wiki logo nach unten*/

img[src*="images/logo_s/wiesenburg_logo.svg"] {
	height: 1em;
}

hr {
	border-style: solid;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table,
th,
td {
	border: 1px solid red;
	margin-bottom: -.5em;
}

th,
td {
	padding: 1em;
}

th {
	border-bottom: .2em solid #eeeeee;
}

th,
td {
	border-right: .2em dashed #eeeeee;
}

tr :last-of-type {
	border-right: none;
}

.image {
	margin-left: 1.5em;
	margin-right: 1.5em;
}

/*bild behälter*/
.image-text {
	padding-left: .5em;
	margin-right: -.25em;
	margin-top: 0em;
	border-radius: .75em;
	border-style: solid;
}

img[src*="images/sehenswuerdigkeiten"] {
	border-radius: .75em;
	border-style: solid;
}

/*standart bild*/
.copy-headline {
	font-weight: bold;
}

/*hervorgehobener text*/
/* Main */



/* content blase */
.content-description {
	margin-top: 3em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: hsl(100, 50%, 45%);
	color: #0a0;
	margin-bottom: -3.5em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

/*content blase für einleitung*/
.label {
	margin-top: 3em;
	padding: 1em;
	background-color: #2b2b3b;
	color: #eeeeee;
	box-shadow: .20em .20em .5em .25em rgba(43, 43, 59, .7);
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

/*content blase überschrift*/
.content-content {
	padding-bottom: .5em;
	margin: -1em 1em 2em 1em;
	max-height: 10000px;
	overflow: hidden;
	box-shadow: .20em .20em .5em .25em rgba(51, 51, 68, .7);
	color: #eeeeee;
	background-color: #333344;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

/*content blase inhalt*/
/* content blase */



/* Google inbed */
.anreise {
	padding-left: .5em;
	margin-bottom: -.75em;
	margin-right: 1.25em;
	margin-left: 1.5em;
	border-radius: .75em;
	border-style: solid;
}

/*Verschiebt den anreise Schriftzug*/
.google-maps {
	height: 25em;
	margin-right: -1.25em;
	border-radius: .75em;
	border-style: solid;
	width: 100%;
}

/* Google inbed */



/*Footer*/
footer-body {
	margin-bottom: 2em;
	padding: 2em;
}

.footer-body li>a {
	color: #eeeeee;
	text-decoration: none;
}

/*Footer*/